<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Device X </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>


<div class="container">

    <h1>
        <span th:text="${message}"></span>
    </h1>


    <table border="3">
        <tr>
            <th>NUMBER</th>
            <th>NAME</th>
            <th>CONTENT</th>
        </tr>
        <tr th:each="fileInformation : ${data}">
            <td th:text="${fileInformationStat.count}"></td>
            <td th:text="${fileInformation.name}"></td>
            <td th:text="${fileInformation.description}"></td>
        </tr>
    </table>


</div>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>